@mixin atRoot($add-selectors...) {
  $base-selectors: str-split(#{&}, ", ");
  $result-selector: "";
  $counter: 0;

  @each $selector in $base-selectors {
    @if $counter == 0 {
      $result-selector: add-selector-list-suffix(
        $add-selectors,
        trim($selector)
      );
    } @else {
      $result-selector: #{$result-selector},
        add-selector-list-suffix($add-selectors, trim($selector));
    }

    $counter: 1;
  }

  @at-root {
    #{$result-selector} {
      @content;
    }
  }
}

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vhidden() {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@function add-selector-list-suffix($selector-list, $suffix) {
  $selector-counter: 0;
  $selector-string: "";

  @each $selector in $selector-list {
    @if $selector-counter == 0 {
      $selector-string: #{$selector}#{$suffix};
    } @else {
      $selector-string: #{$selector-string}, #{$selector}#{$suffix};
    }

    $selector-counter: 1;
  }

  @return $selector-string;
}
